#resume {
	width: 60%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#bar {
	width: 100%;
	position: absolute;
	height: 12vw;
	background: black;
}

#resume_print {
	position: relative;
	width: 100%;
	margin: -1px 0px 0px -1px;
	display: inline-block;
}

#resume_web {
	position: relative;
	width: 100%;
	margin: -5px 0px 0px -1px;
	display: none;
}

#download {
	width: 28vw;
	height: 7vw;
	border-radius: 7vw;
	background-color: rgba(60, 90, 152, 1);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 10vw;
	text-align: center;
	color: white;
	font-size: 2vw;
	line-height: 7vw;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	opacity: .6;
	transition: .2s;
}

#download:hover {
	cursor: pointer;
}

.david {
	color: white;
}

#spacer {
	position: relative;
	width: 100%;
	height: 5vw;
}

@media only screen and (orientation: portrait) {
	#resume_web {
		display: inline-block;
	}

	#resume_print {
		display: none;
	}

	#spacer {
		height: 15vw;
	}
}