html, body {
	background-color: #fefcfe;
	font-size: 40px;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

#name_container {
	width: 60%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: name 4s 1s 1 normal;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	opacity: 1;
}

@keyframes name {
	0% {top: 50%;}
	50% {top: 50%;}
	100% {top: 10%;}
	0% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}

#name {
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#drive_container {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0px;
	z-index: -10;
}

#drive {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;
}

@keyframes drive {
	0% {visibility: hidden}
	100% {visibility: visible;}
}

#p_container {
	position: relative;
	width: 80%;
	height: 75%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
}

p {
	animation: paragraph 4s 4.5s 1 normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@keyframes paragraph {
	0% {opacity: 0;}
	30% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0};
}

p:nth-child(2) {
	text-align: left;
	animation-delay: 5.5s;
}
p:nth-child(3) {
	animation-delay: 6s;
	animation-duration: : 3s;
}
p:nth-child(4) {
	text-align: right;
	animation-delay: 6.5s;
	animation-duration: : 2.5s;
}

#button_container {
	width: 75%;
	height: 50%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
	animation: button_container 1s 10s 1 normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	text-align: center;
	z-index: 1;
	opacity: .6s;
}

#button {
	position: relative;
	width: 15vw;
    height: 7vw;
    border-radius: 7vw;
	font-size: 2vw;
	line-height: 7vw;
	background-color: rgba(60, 90, 152, 1);
	border-radius: 7vw;
	color: white;
	left: 50%;
	transform: translateX(-50%);
	transition: .2s;
	margin-top: 2vw;
}

#button:hover {
	cursor: pointer;
	box-shadow: -5px 5px 10px rgba(60, 90, 152, .5);
}

#button_text {
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}

@keyframes button_container {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#links_container {
	width: 355px;
	height: 100px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fefcfe;
	border-radius: .5vw;
	top: -20%;
	animation: links 1s 11s 1 normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	margin-bottom: 10%;
	z-index: 3;
}

@keyframes links {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.link {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
}

.icon {
	position: relative;
	height: 100%;
	opacity: .6;
	transition: .1s;
}

.white_bar {
	background-color: #fefcfe;
	position: fixed;
	bottom: 0px;
	z-index: 4;
}

@media only screen and (orientation: portrait) {
	#description_container {
	font-size: 4vw;
	}

	#links_container {
		width: 30vw;
		padding-bottom: 30vw;
	}

	.nav2 {
		width: 100%;
		height: 24vw;
		background-color: rgba(254, 252, 254, 0);
	}
}